*{
    margin: 0;
    padding: 0;
}
div{
    display: block;
}
.box{
    /* height: 3000px; */
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    /* background-color: rebeccapurple; */
    background-color: #F0F0F0;
}
li{
    display: inline-block;
    list-style: none;
}
a{
    text-decoration: none;
}  