/* 底部 */
.footer{
    float: left;
    /* height: 420px; */
    width: 100%;
    /* background-color: pink; */
    margin: 150px auto 20px;
}
/* 上面的严格xx */
.footer .footer_top{
    height: 120px;
    width: 500px;
    margin: 0 auto;
}
.footer .plastic-logo{
    width: 290px;
    height: 60px;
    background-image: url(../images/Plastic.png);
    background-repeat: no-repeat;
    margin: 0 auto;
}
.footer .Bolder{
    font-size: 36px;
    font-weight: bolder;
    float: left;
    margin-left: 180px;
    margin-top: -36px;
}
.footer .fgx1{
    width: 40px;
    float: left;
    /* margin-top: 0px; */
    margin-left: 230px;
    border-bottom: 5px solid red;
}
.footer p{
    width: 1000px;
    /* background-color: red; */
    margin: 0 auto;
    padding-top: 20px;
    text-align: center;
    color: #666;
    font-size: 14px;
}
@media screen and (max-width: 768px) {
    .footer p{
        width: 500px;
    }
}